$bg-color          : #1e202b;

html {
  font-size   : 14px;
}

body {
  font-size   : 14px;
  font-weight : 300;
}

@mixin clearfix {
    &:after {
      content : " ";
      clear   : both;
      display : block; 
      overflow: hidden; 
      height  : 0; 
    }
}

// App Specifics styles
.search {
    min-height: 200px;
    padding: 70px 0px;
    .find-location {
      position: relative;
      input[type="text"]{
        width: 100%;
        padding: 20px 50px 20px 20px;
        background: $bg-color;
        color: white;
        outline: none;
        border: none;
        padding: 16px;
        border-radius: 30px;
      }

      div.submit {
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        padding: 0 40px;
        border: none;
        border-radius: 30px;
        line-height: 39px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        background-color: #009ad8;
      }
    }
}

.forecast-container{
  width: 100%;
  background: #323544;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  color: #FFFFFF;

  .forecast {
    display: table-cell;
    vertical-align: top;

    &:nth-child(even){
      background-color: #262936;
    }

    &.today{
      width: 420px;

      .forecast-header{
        @include clearfix;
        .day { float: left; }
        .date {float: right; }
      }

      .forecast-content{
        text-align: left;
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .location {  
        font-size: 24px;
        font-weight: 400;
      }

      .degree{
        .num, .forecast-icon {
          display: inline-block;
          vertical-align: middle;
        }

        .num {
          font-size: 90px;
          margin-right: 30px;
        }
      }

      span{
        margin-right: 20px;
      }
    }

    .forecast-header {
      background: rgba(0,0,0,.1);
      padding: 10px;
      text-align: center;
      font-weight: 400;
    }

    .forecast-icon {
      height: 50px;
    }

    .forecast-content {
      padding:  50px 20px 10px;
      text-align: center;
      .forecast-icon { 
        margin-bottom: 20px;
      }

      .degree {
        font-size: 20px;
        color: white;
        font-weight: 700;
      }
      small{

      }
    }
  }
}